<html>
  <head>
    <title>Dynamic Directory</title>
  </head>
  <body>
    <h3>All Files:</h3>
    <ul>
    <% @files_arr.each do |file| %>
      <li>
        <a href="<%= file %>"><%= file %></a>
      </li>
    <% end %>
    </ul>

    <% if params[:sort] == 'desc' %>
      <a href="/"> Sort ascending</a>
    <% else %>
      <a href="/?sort=desc"> Sort descending</a>
    <% end %>

  </body>
</html>